/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    background: rgb(0, 255, 98);
}

/* end CSS RESET */

/* INTRODUCTION */
header {
    text-align: center;
}

/* end INTRODUCTION */