/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    background: rgb(0, 255, 98);
}

/* end CSS RESET */

/* ------INTRODUCTION------ */
header {
    text-align: center;
}

h1,
header>p {
    padding: 2% 0;
}

/* ------end INTRODUCTION------ */

/* ------TEAM------ */

/* CLEARFIX */
main::after,
.card::after {
    content: '';
    display: table;
    clear: both;
}

/* end CLEARFIX */

.card {
    width: calc(94% / 3);
    background-color: blueviolet;
    margin: 2% 1%;
}

img,
.card {
    height: 100px;
}

.card,
.info,
img {
    float: left;
}

.info {
    width: calc(100% - 100px);
    height: 100%;
    padding: 0 5%;
}

h3,
.info>p {
    color: rgb(225, 255, 0);
    line-height: calc(100px / 3);
    color: white;
}


/* ------/TEAM------ */