/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content {
    width: 75%;
    /* height: 100vh; */
    margin: 0 auto;
    /* background: rgb(0, 255, 98); */
}

/* end CSS RESET */

/* ------INTRODUCTION------ */
header {
    text-align: center;
}

h1 {
    font-family: 'Fredoka One', cursive;
    color: #e53170;
}

h1,
header>p {
    padding: 2% 0;
}

/* ------end INTRODUCTION------ */

/* ------TEAM------ */

/* CLEARFIX */
main::after,
.card::after {
    content: '';
    display: table;
    clear: both;
}

/* end CLEARFIX */

.card {
    width: calc(100% / 3 - 40px);
    background-color: #0f0e17;
    margin: 20px;
}


img {
    height: 100px;
}

.card,
.info,
img {
    float: left;
}

.info {
    width: calc(100% - 100px);
    padding: 0 20px;
}

h3,
.info>p {
    line-height: calc(100px / 3);
    color: white;
}

h3 {
    margin-top: 10px;
}

p:nth-child(3) {
    color: #2cc1d9;
    margin-bottom: 10px;
}

.info p:nth-child(2) {
    margin: -10px 0;
}

.info>p {
    font-size: 0.8rem;
}

/* ------end TEAM------ */